.container {
    width: 369px;
    /* height: 128px */
}

.container-title {
    height: 33px;
    font-weight: bold;
    font-size: 15px;
}

.container-foot {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hotkey-title {
    width: 100px;
}

.hotkey-key {
    margin-right: 10px;
}

.hotkey-env {
    
}